/* ======= Global Layout (фон, центрування) ======= */

body {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ======= Card ======= */

.card {
  background-color: white;
  width: 380px;
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 8px 8px 0px black;
  box-sizing: border-box;
}

.card-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1.2rem;
}

/* ======= Text ======= */

.tag {
  background-color: hsl(47, 88%, 63%);
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 800;
  font-size: 14px;
}

.date {
  font-size: 14px;
  margin: 12px 0;
  color: hsl(0, 0%, 20%);
  font-weight: 600;
  margin-left: auto;
}

.title {
  font-size: 24px;
  margin: 12px 0;
  font-weight: 800;
}

.title:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.description {
  font-size: 16px;
  color: hsl(0, 0%, 40%);
  line-height: 1.4;
  margin-bottom: 16px;
}

/* ======= Author ======= */

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.author-name {
  font-weight: 800;
  font-size: 16px;
}
